@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&family=Poppins:wght@300;400;600;700;900&display=swap');

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Poppins", system-ui, sans-serif;
  
  --color-accent: #E0FF7F; /* Andrew Reff Lime Green */
  --color-dark: #000000;
  --color-zinc-950: #09090b;
}

@layer base {
  body {
    @apply text-zinc-50 overflow-x-hidden selection:bg-[--color-accent]/30;
    background-color: var(--color-dark);
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .bg-dot-grid {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 32px 32px;
  }
}

/* Lenis smooth scroll recommended styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
